<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.exitobiz.Mappers.WebApp.AdminMapper">

    <select id="getComingMonthStats" resultType="Map">
        SELECT
            COUNT(case when date_trunc('month' , "login_time") = date_trunc('month', now())  then 1 end) as m0,
            COUNT(case when date_trunc('month' , "login_time") = date_trunc('month', now() - interval '1 months') then 1 end) as m1,
            COUNT(case when date_trunc('month' , "login_time") = date_trunc('month', now() - interval '2 months') then 1 end) as m2,
            COUNT(case when date_trunc('month' , "login_time") = date_trunc('month', now() - interval '3 months') then 1 end) as m3,
            COUNT(case when date_trunc('month' , "login_time") = date_trunc('month', now() - interval '4 months') then 1 end) as m4,
            COUNT(case when date_trunc('month' , "login_time") = date_trunc('month', now() - interval '5 months') then 1 end) as m5
        FROM itda_app.loginsaver l
                 left outer join itda_app.usertable u on u.id = l.userid
        where 1=1
          and u.admin_flag != 'Y'
    </select>

    <select id="getComingWeeksStats" resultType="Map">
        SELECT
            COUNT(case when date_trunc('week' , "login_time") = date_trunc('week', now())  then 1 end) as week0,
            COUNT(case when date_trunc('week' , "login_time") = date_trunc('week', now() - interval '1 weeks') then 1 end) as week1,
            COUNT(case when date_trunc('week' , "login_time") = date_trunc('week', now() - interval '2 weeks') then 1 end) as week2,
            COUNT(case when date_trunc('week' , "login_time") = date_trunc('week', now() - interval '3 weeks') then 1 end) as week3,
            COUNT(case when date_trunc('week' , "login_time") = date_trunc('week', now() - interval '4 weeks') then 1 end) as week4,
            COUNT(case when date_trunc('week' , "login_time") = date_trunc('week', now() - interval '5 weeks') then 1 end) as week5,
            COUNT(case when date_trunc('week' , "login_time") = date_trunc('week', now() - interval '6 weeks') then 1 end) as week6,
            COUNT(case when date_trunc('week' , "login_time") = date_trunc('week', now() - interval '7 weeks') then 1 end) as week7
        FROM itda_app.loginsaver l
                 left outer join itda_app.usertable u on u.id = l.userid
        where 1=1
          and u.admin_flag != 'Y'
    </select>

    <select id="getJoinMonthStats" resultType="Map">
        SELECT
            COUNT(case when date_trunc('month' , "cret_time") = date_trunc('month', now())  then 1 end) as m0,
            COUNT(case when date_trunc('month' , "cret_time") = date_trunc('month', now() - interval '1 months') then 1 end) as m1,
            COUNT(case when date_trunc('month' , "cret_time") = date_trunc('month', now() - interval '2 months') then 1 end) as m2,
            COUNT(case when date_trunc('month' , "cret_time") = date_trunc('month', now() - interval '3 months') then 1 end) as m3,
            COUNT(case when date_trunc('month' , "cret_time") = date_trunc('month', now() - interval '4 months') then 1 end) as m4,
            COUNT(case when date_trunc('month' , "cret_time") = date_trunc('month', now() - interval '5 months') then 1 end) as m5
        FROM itda_app.usertable
    </select>



    <select id="getJoinWeeksStats" resultType="Map">
        SELECT
            COUNT(case when date_trunc('week' , "cret_time") = date_trunc('week', now())  then 1 end) as week0,
            COUNT(case when date_trunc('week' , "cret_time") = date_trunc('week', now() - interval '1 weeks') then 1 end) as week1,
            COUNT(case when date_trunc('week' , "cret_time") = date_trunc('week', now() - interval '2 weeks') then 1 end) as week2,
            COUNT(case when date_trunc('week' , "cret_time") = date_trunc('week', now() - interval '3 weeks') then 1 end) as week3,
            COUNT(case when date_trunc('week' , "cret_time") = date_trunc('week', now() - interval '4 weeks') then 1 end) as week4,
            COUNT(case when date_trunc('week' , "cret_time") = date_trunc('week', now() - interval '5 weeks') then 1 end) as week5,
            COUNT(case when date_trunc('week' , "cret_time") = date_trunc('week', now() - interval '6 weeks') then 1 end) as week6,
            COUNT(case when date_trunc('week' , "cret_time") = date_trunc('week', now() - interval '7 weeks') then 1 end) as week7
        FROM itda_app.usertable
    </select>

    <select id="getComingTwoWeeks" resultType="Map">
        SELECT
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '13 days') then 1 end) as d13,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '12 days') then 1 end) as d12,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '11 days') then 1 end) as d11,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '10 days') then 1 end) as d10,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '9 days') then 1 end) as d9,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '8 days') then 1 end) as d8,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '7 days') then 1 end) as d7
        FROM itda_app.loginsaver l
                 left outer join itda_app.usertable u on u.id = l.userid
        where 1=1
          and u.admin_flag != 'Y'
    </select>

    <select id="getComingWeek" resultType="Map">
        SELECT
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '6 days') then 1 end) as d6,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '5 days') then 1 end) as d5,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '4 days') then 1 end) as d4,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '3 days') then 1 end) as d3,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '2 days') then 1 end) as d2,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc('day', now() - interval '1 days') then 1 end) as d1,
            COUNT(case when date_trunc('day' , "login_time") = date_trunc(   'day', now())  then 1 end) as d0
        FROM itda_app.loginsaver l
                 left outer join itda_app.usertable u on u.id = l.userid
        where 1=1
          and u.admin_flag != 'Y'
    </select>

    <select id="getJoinTwoWeeks" resultType="Map">
        SELECT
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '13 days') then 1 end) as d13,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '12 days') then 1 end) as d12,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '11 days') then 1 end) as d11,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '10 days') then 1 end) as d10,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '9 days') then 1 end) as d9,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '8 days') then 1 end) as d8,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '7 days') then 1 end) as d7
        FROM itda_app.usertable
    </select>

    <select id="getJoinWeek" resultType="Map">
        SELECT
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '6 days') then 1 end) as d6,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '5 days') then 1 end) as d5,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '4 days') then 1 end) as d4,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '3 days') then 1 end) as d3,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '2 days') then 1 end) as d2,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc('day', now() - interval '1 days') then 1 end) as d1,
            COUNT(case when date_trunc('day' , "cret_time") = date_trunc(   'day', now())  then 1 end) as d0
        FROM itda_app.usertable
    </select>

</mapper>