<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.exitobiz.Mappers.Batch.BatchMapper">
    <select id="getOverDeviceList" resultType="map">
        select device_id
        from itda_app.user_device ud
        where 1=1
            and date_trunc('day', ud.updt_dt) <![CDATA[<]]> date_trunc('day', current_timestamp +'-61 days')
    </select>

    <delete id="deleteDevice" parameterType="map">
        delete from itda_app.user_device ud
        where ud.device_id = #{device_id}::integer
    </delete>
</mapper>