<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.exitobiz.Mappers.WebApp.CommonMapper">

<select id="getCommonCodeDtlList" parameterType="map" resultType="map">
SELECT bas.ctg_cd, bas.ctg_nm, dtl.code, dtl.code_nm
  FROM itda_web.common_code_bas bas
  left outer join itda_web.common_code_dtl dtl on bas.ctg_cd = dtl.ctg_cd
WHERE bas.ctg_cd = #{ctgCd}
order by dtl.sort
</select>


  <select id="getCommonCodeCtgList" parameterType="map" resultType="map">
    SELECT ctg_cd, ctg_nm
    FROM itda_web.common_code_bas
    WHERE ctg_cd = #{ctgCd}
    order by sort
  </select>




</mapper>