<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.exitobiz.Mappers.WebApp.CorpSavedMapper">

    <select id="getMySavedBook" resultType="HashMap" parameterType="HashMap">
        select  mb.*, si_idx, target_name, target_cost_value, loc_code, l.locname, si_title, mobile_url, pc_url, si_end_dt, si_cret_dt, si_active_yn, view_cnt, share_cnt, save_cnt,  from_dt, to_dt, business_type, start_period, company_type, business_ctg, tech_ctg, target_cat_cd as target_cat_name
, tl.tl_cret_dt
        from itda_app.corp_bookmark mb
        left outer join itda_app.support_info_corp si on mb.mb_addidx = si.si_idx and length(si.loc_code) <![CDATA[<]]> 5
        left join (select code as loccode, code_nm as locname from itda_web.common_code_dtl where ctg_cd = 'loc_cd') as l on l.loccode = si.loc_code
        left outer join (
                select
                row_number() over (partition by tl_type_cd order by tl_cret_dt, tl_page_depth desc ) as sort
                ,tl_cret_dt, tl_type_cd,tl_cret_id
                from itda_app.time_line_corp
                where 1=1
                and tl_type_cd != 0
                and tl_cret_id = #{user_id}
        ) tl on mb.mb_addidx = tl.tl_type_cd and tl.sort=1 and mb.mb_cret_id = tl.tl_cret_id
        where 1=1
            and mb.mb_cret_id = #{user_id}
            and mb.corp_cd = #{corp_cd}
            and si.si_active_yn = 'Y'
            and mb.mb_save_yn = 'Y'
        order by
        <choose>
            <when test='ord == "인기순"'>
                view_cnt desc
            </when>
            <when test='ord == "금액높은순"'>
                target_cost_value desc
            </when>
            <when test='ord == "마감임박순"'>
                si_end_dt
            </when>
            <otherwise>
                mb.mb_updt_dt desc
            </otherwise>
        </choose>
    </select>

    <select id="getCatList" parameterType="HashMap" resultType="HashMap">
        select  si.target_cat_cd as target_cat_name, count(*)
        from itda_app.corp_bookmark mb
            left outer join itda_app.support_info_corp si on mb.mb_addidx = si.si_idx and length(si.loc_code) <![CDATA[<]]> 5
        where 1=1
          and mb.mb_cret_id = #{mb_cret_id}
          and mb.corp_cd = #{corp_cd}
          and mb.mb_save_yn = 'Y'
        group by si.target_cat_cd
    </select>

    <select id="checkSavedFlag" parameterType="HashMap" resultType="HashMap">
        select ${what_flag} from itda_app.corp_bookmark where mb_cret_id = #{mb_cret_id} and corp_cd = #{corp_cd} and mb_addidx = #{mb_addidx};
    </select>

    <insert id="insertSavedMyBook" parameterType="HashMap">
        INSERT INTO itda_app.corp_bookmark ( mb_addidx, mb_cret_id, corp_cd, mb_active_yn, mb_save_yn, mb_cret_dt, mb_updt_dt)
                                    VALUES (#{mb_addidx},#{mb_cret_id}, #{corp_cd}, 'Y' ,'Y' , NOW() , NOW() )
        on conflict (mb_addidx, mb_cret_id, corp_cd) DO UPDATE
        SET
            mb_active_yn = 'Y'
            , mb_save_yn = 'Y'
            , mb_updt_dt = now()
    </insert>

    <update id="updateSavedMyBook" parameterType="HashMap">
        update itda_app.corp_bookmark
            SET mb_save_yn = #{mb_save_yn}, mb_updt_dt = NOW()
        WHERE mb_addidx = #{mb_addidx} and mb_cret_id = #{mb_cret_id} and corp_cd = #{corp_cd}
    </update>

</mapper>