<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.exitobiz.Mappers.Cms.PushMapper">

    <insert id="savePush" parameterType="HashMap">
        insert into itda_app.my_pushbook
                (mp_add_idx, mp_loc_code, mp_push_title, mp_push_subtitle, mp_cret_dt)
                values
                (#{idx}::integer, #{userloc}, #{title}, #{body}, NOW())
    </insert>

    <select id="getPushKeywords" resultType="PushVo">
    select	keywords.keyword
      from (
            select
                distinct keyword
            from
                itda_app.user_keyword
    ) keywords
    order by keyword collate "C"
    </select>

    <select id="getKeywordSupportInfo" parameterType = "HashMap" resultType="int">
        select count(*)
        from itda_app.support_info 
        where 1=1
            and si_title like '%' || #{keyword} || '%'
            and to_char(si_cret_dt,'yyyymmdd') = to_char(now() - '1 day'::interval,'yyyymmdd')
            and si_active_yn = 'Y'
        
    </select>

    <select id ="getKeywordPushUser" parameterType="HashMap" resultType="PushVo">
        select uk.user_id, uk.keyword, u.usertoken
          from itda_app.user_keyword uk 
          left outer join itda_app.usertable u on uk.user_id = u.id
          inner join itda_app.user_push_setting ups on u.id = ups.user_id and ups.sp_keyword_push = 'Y'
        where 1=1
          and uk.keyword = #{keyword}
          
    </select>

    <select id="getBookmarkSupportInfo" resultType="PushVo">
        select mb.mb_cret_id, si.si_title, u.usertoken
            from itda_app.my_bookmark mb
                 left outer join itda_app.usertable u on mb.mb_cret_id = u.id
                 left outer join itda_app.support_info si on mb.mb_addidx = si.si_idx
                 inner join itda_app.user_push_setting ups on u.id = ups.user_id and ups.sp_bookmark_push = 'Y'
        where 1=1
          and mb.mb_save_yn = 'Y'
          and si.si_end_dt::date - current_date = 2 ;
    </select>

</mapper>