<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.exitobiz.Mappers.Cms.PushMapper">

    <insert id="savePush" parameterType="HashMap">
        insert into itda_app.my_pushbook
                (mp_add_idx, mp_loc_code, mp_push_title, mp_push_subtitle, mp_cret_dt)
                values
                (#{idx}::integer, #{userloc}, #{title}, #{body}, NOW())
    </insert>

</mapper>