<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.exitobiz.Mappers.WebApp.SupportCorpInfoMapper">
    <select id="getSupportCorpInfoList" parameterType="HashMap" resultType="HashMap">
        select si_idx, target_name,
        target_cat_cd as  target_cat_name,
        target_cost_value, loccode, l.locname, si_title, mobile_url, pc_url, si_end_dt, si_cret_dt, si_active_yn, view_cnt, share_cnt, save_cnt, mb_save_yn
        from itda_app.support_info_corp si
        left join (select code as loccode, code_nm as locname from itda_web.common_code_dtl where ctg_cd = 'loc_cd') as l on l.loccode = si.loc_code
        left outer join (
        select row_number() over (partition by mb_addidx order by mb_cret_dt desc ) as sort ,*
        from itda_app.corp_bookmark
        where 1=1
        <if test='user_id != null and corp_cd != null'>
            and mb_cret_id = #{user_id} and corp_cd = #{corp_cd}
        </if>
        ) mb on mb.mb_addidx = si.si_idx and mb.sort = 1
        where 1=1
        and si.si_active_yn = 'Y'
        and si.corp_cd = #{corp_cd}
        and length(si.loc_code) <![CDATA[<]]> 5
        <choose>
            <when test='searchText != null'>
                and si_title like concat('%', ${searchText}, '%') or target_name like concat('%', ${searchText}, '%') or locname like concat('%', ${searchText}, '%')
            </when>
        </choose>
        <if test='business_type != null and business_type != "01"'>
            and
            <trim prefix="(" prefixOverrides="," suffix=")">
                <foreach item="item" index="index" collection = "business_type"  separator="or">
                    business_type  like '%' || #{item} || '%'
                </foreach>
            </trim>
        </if>
        <if test='company_type != null and  company_type != "" and company_type.get(0) != "01"'>
            and
            <trim prefix="(" prefixOverrides="," suffix=")">
                <foreach item="item" index="index" collection = "company_type"  separator="or">
                    company_type  like '%' || #{item} || '%'
                </foreach>
            </trim>
        </if>
        <if test='target_cat_name != null and target_car_name != "" and target_cat_name.get(0) != "01"'>
            and target_cat_cd in
            <trim prefix="(" prefixOverrides="," suffix=")">
                <foreach item="item" index="index" collection = "target_cat_name"  separator=",">
                    #{item}
                </foreach>
            </trim>
        </if>
        <if test='business_ctg != null and business_ctg != "" and business_ctg.get(0)  != "01"'>
            and
            <trim prefix="(" prefixOverrides="," suffix=")">
                <foreach item="item" index="index" collection = "business_ctg"  separator="or">
                    business_ctg like '%' || #{item} || '%'
                </foreach>
            </trim>
        </if>
        <if test='tech_ctg != null and tech_ctg != "" and tech_ctg.get(0) != "01"'>
            and
            <trim prefix="(" prefixOverrides="," suffix=")">
                <foreach item="item" index="index" collection = "tech_ctg"  separator="or">
                    tech_ctg like '%' || #{item} ||'%'
                </foreach>
            </trim>
        </if>
        <if test='loc_code != null and loc_code.get(loc_code.size -1) != "C99" '>
            and loc_code in
            <trim prefix="(" prefixOverrides="," suffix=")">
                <foreach item="item" index="index" collection = "loc_code"  separator=",">
                    #{item}
                </foreach>
            </trim>
        </if>
        <if test='keyword != null and keyword != "" '>
            and
            <trim prefix="(" prefixOverrides="," suffix=")">
                <foreach item="item" index="index" collection = "keyword"  separator="or">
                    si_title like '%' || #{item} || '%'
                </foreach>
            </trim>
        </if>
        <if test='end_dt != null and end_dt == "true"'>
            and si_end_dt <![CDATA[>=]]> now()::date
        </if>
        order by
        <choose>
            <when test='ord == "인기순"'>
                view_cnt desc, si.si_idx
            </when>
            <when test='ord == "금액높은순"'>
                target_cost_value desc, si.si_idx
            </when>
            <when test='ord == "마감임박순"'>
                si_end_dt, si.si_idx
            </when>
            <otherwise>
                si.si_cret_dt desc , si.si_idx
            </otherwise>
        </choose>
    </select>


    <select id="getTotalCount" resultType="HashMap" parameterType="HashMap">
        select
            ( select count(*)from itda_app.support_info_corp si where si.si_active_yn  = 'Y' and corp_cd = #{corp_cd}) as total_cnt ,
            ( select count(*) from itda_app.support_info_corp si where si.si_active_yn  = 'Y' and si.si_cret_dt > (NOW() +'-7 days')::DATE  and corp_cd = #{corp_cd}) as week_cnt,
	        ( select count(target_name) from (select si.target_name from itda_app.support_info_corp si where si.si_active_yn  = 'Y'  and corp_cd = #{corp_cd} group by si.target_name ) A ) as target_cnt
    </select>

    <update id="upViewCnt" parameterType="HashMap">
        update itda_app.support_info_corp
        set view_cnt = view_cnt + 1
        where 1=1
          and si_idx = #{si_idx}::integer
    </update>

    <insert id="insertTimeLine" parameterType="HashMap">
        INSERT INTO itda_app.time_line_corp (
            tl_cret_dt, tl_cret_id, tl_page_type, tl_page_depth, tl_page_name, tl_button_name, tl_type_cd, tl_event, tl_memo, corp_cd)
        VALUES ( NOW(), #{tl_cret_id}, #{tl_page_type}, #{tl_page_depth}, #{tl_page_name}, #{tl_button_name}, #{tl_type_cd}::numeric, #{tl_event}, #{tl_memo}, #{corp_cd} )
    </insert>

    <select id="getSearchHotKeyWord" resultType="HashMap" parameterType="HashMap">
        select count(*) as cnt, tl.tl_event from itda_app.time_line_corp tl
        where 1=1
          and tl.tl_cret_id = #{corp_cd}
          and tl.tl_button_name like '%검색%'
          and tl.tl_cret_dt > (NOW() +'-10 days')::DATE
        group by tl.tl_event having count(*) > 1 order by cnt desc, tl.tl_event collate "C" limit 5
    </select>

    <update id="updateCorpCompanyInfo" parameterType="map">
        INSERT INTO itda_web.corp_user_support
        (corp_cd, user_id, support_target, start_period, loc_ctg, company_type, business_type, support_type, business_ctg, tech_ctg, cret_dt, cret_id)
        VALUES(#{corp_cd}, #{user_id}, '01', '10', 'C82', '02', '01', '01', '01', '01', now(), #{user_id})
        ON CONFLICT (corp_cd, user_id) DO UPDATE
        SET
        <if test="companyName != null">
            company_name = #{companyName},
        </if>
        <if test="repName != null">
            rep_name = #{repName},
        </if>
        <if test="supportTarget != null and supportTarget != '' ">
            support_target = #{supportTarget},
        </if>
        <if test="startPeriod != null and startPeriod != '' ">
            start_period = #{startPeriod},
        </if>
        <if test="locCtg != null and locCtg != '' ">
            loc_ctg = #{locCtg},
        </if>
        <if test="companyType != null and companyType != '' ">
            company_type = #{companyType},
        </if>
        <if test="businessType != null and businessType != '' ">
            business_type = #{businessType},
        </if>
        <if test="supportType != null and supportType != '' ">
            support_type = #{supportType},
        </if>
        <if test="businessCtg != null and businessCtg != '' ">
            business_ctg = #{businessCtg},
        </if>
        <if test="techCtg != null and techCtg != '' ">
            tech_ctg = #{techCtg},
        </if>
        updt_dt = now(),
        updt_id = #{user_id}
    </update>

    <select id="getCorpCompanyInfo" parameterType="map" resultType="map">
        select user_id, corp_cd, support_target, start_period, loc_ctg, company_type, business_type, support_type, business_ctg, tech_ctg
            from itda_web.corp_user_support
        where 1=1
          and user_id = #{user_id} and corp_cd = #{corp_cd}
    </select>

    <select id="getContentInfo" parameterType="map" resultType="map">
        select title,url,cost,img
            from itda_app.contents
        where 1=1
            and corp_cd in (#{corp_cd}, '00')
            and active_yn = 'Y'
            order by corp_cd desc, sort, title

    </select>

    <select id="getMyRecentKeyword" parameterType="map" resultType="map">
        select tl_cd, tl_event, tl_cret_dt
        FROM  (
                  SELECT DISTINCT ON (tl.tl_event) * FROM itda_app.time_line_corp tl
                  where tl_cret_id =#{tl_cret_id} and corp_cd = #{corp_cd} and tl_button_name ='검색버튼' and tl_memo != '검색어삭제' order by tl.tl_event, tl.tl_cret_dt desc
              ) sub
        ORDER  BY  tl_cd desc
    </select>

    <insert id="insertUserLog" parameterType="hashMap">
        INSERT INTO itda_web.corp_user_stats
        (user_id, business_type, start_period, company_type, business_ctg, tech_ctg,  si_idx, view_dt, stats_idx)
        select user_id, business_type, start_period, company_type,business_ctg,tech_ctg, #{si_idx}::int, now(), nextval('itda_web.stats_idx_seq')
        from itda_web.corp_user_support
        where 1=1
          and user_id = #{user_id}
          and corp_cd = (select code from itda_web.common_code_dtl where 1=1 and code_nm = #{corp_nm} and ctg_cd = 'corp_cd')
    </insert>
</mapper>