<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.exitobiz.Mappers.WebApp.UserMapper">

<select id="getUserToken" parameterType="hashMap" resultType="Map">
SELECT usertoken
  FROM itda_app.usertable
WHERE id=#{id}
  and date_trunc('day',last_time)  <![CDATA[>=]]> date_trunc('day', current_timestamp  + '-61 days')
union
SELECT usertoken
  FROM (
             select *
             from (
                      -- 오늘 날짜 기준 61일 전부터 update 된 토큰 기준으로만 발송
                      -- 발송 기준은 user_id, mos, minfo 기준 앱버전이 가장 최신인 토큰만 발송
                      select RANK() over (partition by user_id, mos, minfo order by appversion desc) ord , *
                      from itda_app.user_device ud
                      where 1=1
                        AND user_id = #{id}
                        and date_trunc('day',ud.updt_dt)  <![CDATA[>=]]> date_trunc('day', current_timestamp  + '-61 days')
                  ) data
             where 1=1
               and data.ord = 1
   ) ud
</select>


  <select id="getUserTokenByLocation" parameterType="hashMap" resultType="map">
    SELECT usertoken
    FROM itda_app.usertable u 
     left outer join itda_app.user_push_setting ups on u.id = ups.user_id
    WHERE usertoken not in ('', 'null')
      AND coalesce(ups.sp_receive_push, '')  != 'N'
          <if test="userlocs != null">
              AND userloc in
              <foreach collection="userlocs" item="loc" index="idx" separator="," open="(" close=")">
                  #{loc}
              </foreach>
          </if>
      union
      SELECT ud.usertoken
      from(
          select data.user_id, data.usertoken
          from (
              select ud.user_id,RANK() over (partition by ud.user_id, ud.mos, ud.minfo order by ud.appversion desc) ord, ud.usertoken
              from itda_app.usertable u
              inner join itda_app.user_device ud on ud.user_id = u.id
              left outer join itda_app.user_push_setting ups on u.id = ups.user_id
                where 1=1
                AND coalesce(ups.sp_receive_push, '')  != 'N'
              <if test="userlocs != null">
                  AND u.userloc in
                  <foreach collection="userlocs" item="loc" index="idx" separator="," open="(" close=")">
                      #{loc}
                  </foreach>
              </if>
              and date_trunc('day',ud.updt_dt) >= date_trunc('day', current_timestamp  + '-61 days')
          ) data
          where 1=1
          and data.ord = 1
      ) ud
      WHERE ud.usertoken not in ('', 'null')
  </select>

  <select id="getUserTokenByKeyId" parameterType="hashMap" resultType="HashMap">
    SELECT usertoken
    FROM itda_app.usertable u 
     left outer join itda_app.user_push_setting ups on u.id = ups.user_id
     left outer join itda_app.admin_push_setting aps on u.id = aps.user_id
     left outer join itda_app.chatrooms_one_push_setting cops on u.id = cops.user_id
    WHERE 1=1
      and u.id=#{id}
      and u.usertoken not in ('', 'null')
      and usernickname  != '탈퇴회원'
    <choose>
       <when test="keyId == 'cont' ">
          and coalesce(ups.sp_receive_push,'') != 'N'
          <if test="userlocs != null">
              AND userloc in
              <foreach collection="userlocs" item="loc" index="idx" separator="," open="(" close=")">
                  #{loc}
              </foreach>
          </if>
       </when>
       <when test="keyId == 'kwrd' ">
          and coalesce(ups.sp_keyword_push,'') != 'N'
       </when>
<!--       <when test="keyId == 3 ">-->
<!--          and coalesce(ups.sp_recomment_push,'') != 'N'-->
<!--       </when>-->
<!--       <when test="keyId == 4 ">-->
<!--          and coalesce(ups.sp_commentlike_push,'') != 'N'-->
<!--       </when>-->
        <when test="keyId == 'day' ">
            and coalesce(ups.sp_bookmark_push,'') != 'N'
        </when>
        <when test="keyId == 'comm' ">
            and coalesce(ups.sp_content_comment_push,'') != 'N'
        </when>
        <when test="keyId == 'like' ">
            and coalesce(ups.sp_community_commentlike_push,'') != 'N'
        </when>
        <when test="keyId == 'reco' ">
            and coalesce(ups.sp_community_recomment_push,'') != 'N'
        </when>
<!--        <when test="keyId == 12 ">-->
<!--            and coalesce(aps.chat_push ,'') != 'N'-->
<!--        </when>-->
<!--        <when test="keyId == 13 ">-->
<!--            and coalesce(cops.push_yn, true) != false-->
<!--        </when>-->
    </choose>
    union
      SELECT ud.usertoken
      FROM itda_app.user_device ud
      inner join itda_app.usertable u on ud.user_id = u.id and u.usernickname !='탈퇴회원'
      left outer join itda_app.user_push_setting ups on ud.user_id = ups.user_id
      left outer join itda_app.admin_push_setting aps on ud.user_id = aps.user_id
      left outer join itda_app.chatrooms_one_push_setting cops on ud.user_id = cops.user_id
      WHERE 1=1
      and ud.user_id=#{id}
      and ud.usertoken not in ('', 'null')
      and date_trunc('day',ud.updt_dt)  <![CDATA[>=]]> date_trunc('day', current_timestamp  + '-61 days')
      <choose>
          <when test="keyId == 'cont' ">
              and coalesce(ups.sp_receive_push,'') != 'N'
              <if test="userlocs != null">
                  AND userloc in
                  <foreach collection="userlocs" item="loc" index="idx" separator="," open="(" close=")">
                      #{loc}
                  </foreach>
              </if>
          </when>
          <when test="keyId == 'kwrd' ">
              and coalesce(ups.sp_keyword_push,'') != 'N'
          </when>
<!--          <when test="keyId == 3 ">-->
<!--              and coalesce(ups.sp_recomment_push,'') != 'N'-->
<!--          </when>-->
<!--          <when test="keyId == 4 ">-->
<!--              and coalesce(ups.sp_commentlike_push,'') != 'N'-->
<!--          </when>-->
          <when test="keyId == 'day' ">
              and coalesce(ups.sp_bookmark_push,'') != 'N'
          </when>
          <when test="keyId == 'comm' ">
              and coalesce(ups.sp_content_comment_push,'') != 'N'
          </when>
          <when test="keyId == 'like' ">
              and coalesce(ups.sp_community_commentlike_push,'') != 'N'
          </when>
          <when test="keyId == 'reco' ">
              and coalesce(ups.sp_community_recomment_push,'') != 'N'
          </when>

<!--          <when test="keyId == 12 ">-->
<!--              and coalesce(aps.chat_push ,'') != 'N'-->
<!--          </when>-->
<!--          <when test="keyId == 13 ">-->
<!--              and coalesce(cops.push_yn, true) != fals-->
<!--          </when>-->
      </choose>
  </select>
  <!--
     getUserTokenByLocation Original

      SELECT usertoken
    FROM itda_app.usertable
    WHERE usertoken not in ('', 'null')
      AND
          <if test="userlocs != null">
              AND userloc in
              <foreach collection="userlocs" item="loc" index="idx" separator="," open="(" close=")">
                  #{loc}
              </foreach>
          </if>

  -->

    <select id="getUserTokenByLocationTest" parameterType="hashMap" resultType="map">
        SELECT u.usertoken, userloc
        FROM itda_app.usertable u
        WHERE u.usertoken not in ('', 'null')
          and u.id='1592864754'
        AND u.admin_flag = 'Y'
        <if test="loc != null">
        AND u,userloc in
        <foreach collection="params" item="loc" index="idx" separator="," open="(" close=")">
            #{loc}
        </foreach>
        </if>
        union
        SELECT ud.usertoken, u.userloc
        FROM itda_app.usertable u
        left outer join
        (
            select *
            from (
            -- 오늘 날짜 기준 61일 전부터 update 된 토큰 기준으로만 발송
            -- 발송 기준은 user_id, mos, minfo 기준 앱버전이 가장 최신인 토큰만 발송
                select RANK() over (partition by user_id, mos, minfo order by appversion desc) ord , *
                from itda_app.user_device ud
                where 1=1
                and date_trunc('day',ud.updt_dt)  <![CDATA[>=]]> date_trunc('day', current_timestamp  + '-61 days')
                and ud.user_id='1592864754'
            ) data
            where 1=1
            and data.ord = 1
        ) ud on u.id = ud.user_id
        WHERE ud.usertoken not in ('', 'null')
        AND u.admin_flag = 'Y'
        <if test="loc != null">
            AND u,userloc in
            <foreach collection="params" item="loc" index="idx" separator="," open="(" close=")">
                #{loc}
            </foreach>
        </if>
    </select>

    <select id="getUserTokens" resultType="map">
        SELECT usertoken
        FROM itda_app.usertable u
        WHERE 1=1
           AND u.usertoken not in ('', 'null')
          and date_trunc('day',last_time)  <![CDATA[>=]]> date_trunc('day', current_timestamp  + '-61 days')
          and usertoken != '-'
        union
        SELECT usertoken
        FROM (
                 select *
                     from (
                              -- 오늘 날짜 기준 61일 전부터 update 된 토큰 기준으로만 발송
                              -- 발송 기준은 user_id, mos, minfo 기준 앱버전이 가장 최신인 토큰만 발송
                              select RANK() over (partition by user_id, mos, minfo order by appversion desc) ord , *
                              from itda_app.user_device ud
                              where 1=1
                                and date_trunc('day',ud.updt_dt)  <![CDATA[>=]]> date_trunc('day', current_timestamp  + '-61 days')
                          ) data
                 where 1=1
                   and data.ord = 1
             ) device
        WHERE 1=1
    </select>

    <select id="getUserInfo" parameterType="map" resultType="map">
        SELECT id, idprofile, userbirthday, useragerange, usergender, usernickname, useremail, username, userloc, userlocname, usertitle, userhp,  mos, minfo, check_flag, admin_flag, cret_time, last_time,   lat, lng, sido, sigugun, dongmyun, jibun, lastloc,  deliver_email
                 , case when cret_time = last_time then 'true' else 'false' end flag
        FROM itda_app.usertable u
        WHERE id=#{userid}
    </select>

    <select id = "getCompanyInfo" parameterType="map" resultType="map">
        SELECT  user_id, company_name, rep_name, support_target, start_period, loc_ctg, company_type, business_type, support_type, business_ctg, tech_ctg, to_char(cret_dt, 'yyyy-mm-dd') cret_dt, cret_id, to_char(updt_dt, 'yyyy-mm-dd') updt_dt, updt_id, intro
        FROM itda_web.user_support
        WHERE 1=1
          AND user_id=#{userid}
    </select>

    <update id="updatePushSetting" parameterType="map">

        INSERT INTO itda_app.user_push_setting
        (user_id, sp_receive_push, sp_keyword_push, sp_recomment_push, sp_commentlike_push, sp_bookmark_push, sp_content_comment_push, sp_community_commentlike_push, sp_community_recomment_push, marketing_push)
        VALUES(#{userid}, #{spReceivePush}, #{spKeywordPush}, #{spRecommentPush}, #{spCommentlikePush}
        <choose>
        <when test="spBookmarkPush != null">
            ,#{spBookmarkPush}
        </when>
        <otherwise>
           ,'N'
        </otherwise>
        </choose>
               ,#{spContentCommentPush},#{spCommunityCommentlikePush}, #{spCommunityRecommentPush},#{marketingPush})
        ON CONFLICT ( user_id) DO UPDATE
        set
            <choose>
                <when test="spBookmarkPush != null">
                    sp_bookmark_push =#{spBookmarkPush}
                </when>
              <otherwise>
                  sp_bookmark_push ='N'
              </otherwise>
            </choose>
            <if test="spReceivePush != null">
                ,sp_receive_push =#{spReceivePush}
            </if>
            <if test="spKeywordPush != null">
                ,sp_keyword_push =#{spKeywordPush}
            </if>
            <if test="spRecommentPush != null">
                ,sp_recomment_push =#{spRecommentPush}
            </if>
            <if test="spCommentlikePush != null">
                ,sp_commentlike_push =#{spCommentlikePush}
            </if>
            <if test="spContentCommentPush != null">
                ,sp_content_comment_push =#{spContentCommentPush}
            </if>
            <if test="spCommunityCommentlikePush != null">
                ,sp_community_commentlike_push =#{spCommunityCommentlikePush}
            </if>
            <if test="spCommunityRecommentPush != null">
                ,sp_community_recomment_push =#{spCommunityRecommentPush}
            </if>
            <if test="marketingPush != null">
                , marketing_push =#{marketingPush}
            </if>
    </update>
    <select id="getPushSetting" parameterType="map" resultType="map">
        SELECT user_id, sp_receive_push, sp_keyword_push, sp_recomment_push, sp_commentlike_push, sp_bookmark_push, sp_content_comment_push, sp_community_commentlike_push, sp_community_recomment_push, marketing_push
        FROM itda_app.user_push_setting
     WHERE 1=1
        AND user_id = #{userid}
    </select>

    <update id="withdraw" parameterType="map">
        UPDATE itda_app.usertable
            SET usernickname ='탈퇴회원'
              , idprofile = 'https://exitobiz.co.kr/img/profile/default3.png'
              , useragerange = '-'
              , usergender = '-'
              , useremail = '-'
              , username = '-'
              , usertitle = '-'
              , userhp = '-'
              , companyname = '-'
              , companytype = '-'
              , companyloc = '-'
              , admin_flag = 'N'
        WHERE 1=1
            AND id = #{userid}
    </update>

    <update id="updateReSignIn" parameterType="map">
        update itda_app.usertable
        SET usernickname = #{nickname}
          , userbirthday = #{birth}
          , idprofile = #{profile}
          , useragerange = #{agerange}
          , usergender = #{gender}
          , useremail = #{email}
        WHERE id = #{id}
    </update>

    <select id="checkNickname" parameterType="map" resultType="int">
        SELECT count(usernickname)
            FROM itda_app.usertable
        WHERE 1=1
            AND usernickname =#{usernickname}
    </select>

    <update id="updateUserInfo" parameterType="map">
        UPDATE itda_app.usertable
        SET
            usernickname = #{usernickname}
        WHERE 1=1
            AND id=#{userid}
    </update>

    <update id="updateCompanyInfo" parameterType="map">
        INSERT INTO itda_web.user_support
        (user_id, company_name, rep_name, support_target, start_period, loc_ctg, company_type, business_type, support_type, business_ctg, tech_ctg, cret_dt, cret_id,intro)
        VALUES(#{user_id}, #{companyName}, #{repName}, #{supportTarget}, #{startPeriod}, #{locCtg}, #{companyType}, #{businessType}, #{supportType}, #{businessCtg}, #{techCtg}, now(), #{user_id}, #{intro})
        ON CONFLICT (user_id) DO UPDATE
        SET
             company_name = #{companyName}
            ,rep_name = #{repName}
        <if test="supportTarget != null and supportTarget != '' ">
            ,support_target = #{supportTarget}
        </if>
        <if test="startPeriod != null and startPeriod != '' ">
            ,start_period = #{startPeriod}
        </if>
        <if test="locCtg != null and locCtg != '' ">
            ,loc_ctg = #{locCtg}
        </if>
        <if test="companyType != null and companyType != '' ">
            ,company_type = #{companyType}
        </if>
        <if test="businessType != null and businessType != '' ">
            ,business_type = #{businessType}
        </if>
        <if test="supportType != null and supportType != '' ">
            ,support_type = #{supportType}
        </if>
        <if test="businessCtg != null and businessCtg != '' ">
            ,business_ctg = #{businessCtg}
        </if>
        <if test="techCtg != null and techCtg != '' ">
            ,tech_ctg = #{techCtg}
        </if>
        <if test="intro != null and intro != '' ">
            ,intro = #{intro}
        </if>
            ,updt_dt = now()
            ,updt_id = #{user_id}

    </update>

    <select id="checkAppVer" resultType="map">
        select * from itda_app.appver_check
    </select>

    <insert id="insertLogin" parameterType="map">
        INSERT INTO  itda_app.loginsaver ( userid,login_time)
        VALUES ( #{id} , NOW() )
    </insert>

    <update id="insertUserSmartDeviceInfo" parameterType="map">
        insert into itda_app.user_device(
            device_id,
            user_id, cret_dt, updt_dt, mos, minfo, usertoken, appversion
        ) values(
                (select coalesce(max(device_id)+1,1) as device_id from itda_app.user_device),
                #{userid}, NOW(), NOW(),  #{mos}, #{minfo},  #{usertoken}, #{appversion}
            ) ON CONFLICT(usertoken)
        DO UPDATE
             SET updt_dt = NOW(),
             mos = #{mos},
             minfo = #{minfo},
             usertoken = #{usertoken},
             appversion = #{appversion},
             user_id = #{userid}
    </update>

    <update id="updateMobileInfo" parameterType="map">
        update itda_app.usertable u
        SET mos= #{mos},
            minfo= #{minfo},
            usertoken=#{userToken},
            last_time = NOW(),
            appversion = #{appversion}
        WHERE id = #{userid}
    </update>

    <delete id="delUserToken" parameterType="map">
        delete from itda_app.user_device
        where 1=1
          and user_id = #{userid}
          and minfo  = #{minfo}
          and usertoken  = #{usertoken}
    </delete>

</mapper>