/*@media (max-width:767px) {*/

    li{
        list-style: none;
    }

    body{
        margin:1.5rem auto;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;

    }
    .wrap{
        width: 90%;
        margin: 0 auto;
    }

    h3{
        display: none;
    }

    h3.h3content {
        display: block;
        /* margin-top: 0.8rem; */
        /* margin-bottom: 0.8rem; */
        width: 50%;
        float: left;
        /* padding: 0.8rem; */
    }
    input{
        padding: 0 2rem;
    border: none;
    font-size: 1.3rem;
    color: #000;
    outline: none;
    /* box-shadow: 0 0 0 1px rgb(0 0 0 / 10%); */
    height: 4rem;
    width: 100%;
    /* border-radius: 10px; */
    -webkit-appearance: none;
    background: transparent;
    border-bottom: 1px solid #999;
    }
    input::placeholder{
        color: #000;
    }

    .tnum {
        margin-top: 4px;
        margin-left: 90%;
        color: rgb(112 112 112);
        font-size: 0.8rem;
        display: inline-block;
        display: none;
    }
    
    select{
        padding: 0 2rem;
        border: none;
        font-size: 1.3rem;
        color: #000;
        outline: none;
        /* box-shadow: 0 0 0 1px rgb(0 0 0 / 10%); */
        height: 4rem;
        width: 100%;
        /* border-radius: 10px; */
        -webkit-appearance: none;
        background: transparent;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        }

    textarea{
    padding: 2rem 2rem;
    border: none;
    font-size: 1rem;
    color: #999;
    outline: none;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
    height:14rem;
    width: calc(100% - 4rem);
    border-radius: 10px;
    -webkit-appearance: none;
    background: transparent;
    }
    

    #bottom {
        width: 50%;
        /* height: 2rem; */
        /* padding: 0.8rem; */
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        z-index: 9999999;
        float: right;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .wrap_content {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .wrap_content:after{
        content: "";clear: both;display: block;
    }

    #bottom button {
        width: 100%;
        height: 3rem;
        color: #fff;
        font-size: 1.4rem;
        background-color: #7BE4AC;
        border: none;
        /* margin-top: 2rem; */
        border-radius: 5px;
    }

    .ck.ck-editor__editable[role='textbox'], .ck.editor[role='textbox'] {
        width: 100%;
        background: #fff;
        font-size: 1em;
        line-height: 0.7em;
        min-height: var(--ck-sample-editor-min-height);
        padding: 0em 0.8em;
        min-height: 58vh;

    }

    .ck.ck-editor__editable_inline>p {
        margin-bottom: var(--ck-spacing-large);
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.3rem;
    }

    /* .ck.ck-editor__editable_inline>:first-child {
        margin-top: 0.4rem;
    } */


    .fa-angle-down{
        color: #000;
        font-size: 1rem;
    }

    #editor{
        word-wrap: break-word;
        text-indent: initial;
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
/* 
    #editor p {
        width: 100%;
    } */
    .select-wrap{
            background: url('../WEB-INF/views/community/img/ionic-ios-arrow-down.png')no-repeat 92% 50%/15px auto;
            z-index: 999999999999;
        }

    /*게시글 상세 --------------------------*/

        *{margin:0;padding:0;}

        ol,ul{list-style:none;}


        i,em{font-style:normal;}

        b,strong{font-weight:normal;}

        table{border-collapse:collapse;}

    .wrap{
        width: 90%;
        margin: 0 auto;
    }

        .box1 {
            height: 2.5rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
        }

        .headTitle{
            width: 92%;
        }
        .box1::after{content: "";display: block;clear: both;}
        .headTitle > h5{box-sizing: border-box;float: left;font-size: 1rem;background-color: #F5F5F5;padding:0.2rem 1rem;}
        .dot{box-sizing: border-box;float: left;padding: 0 0;width: 40px;height:20px;width:8%;}
        .dot > li {
            float: left;
            margin-top: 13%;
            /* padding: 25%; */
          
            box-sizing: border-box;
            text-indent: -99999px;
            margin-right: 8%;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #787878;
        }

        .dot > li:last-of-type{ margin-right: 0;}
/* 
        .dot > li:first-of-type{margin-left: 0;} */
        .dot::after{content: "";display: block;clear: both;}
        .box2{padding: 0;width:100%;border-bottom:1px solid #EAEAEA;}

        .box2-1{
            float: left; width: 85%;
        }

        .box2-1 > li{
            float:left;
            display: flex;
        align-items: center;
        height: 5rem;
        }

        .box2-1 img{
            width: 3rem;
            padding-right: 1rem;
        }
        .box2-2{
            float: right;width: 15%;
        }
        .box2:after{content: "";display: block;clear: both;}

        .box2-2 img{
            width: 16px;
        }

        .box2-2 li{
            float: left;
            display: flex;
        align-items: center;
        height: 5rem;
        }

        .box2-2 p{
            padding-left: 0.7rem;color:#656565;font-size: 16px;
        }

        .box2 h2 { font-size:1.3rem ; font-weight: 600;padding-right: 1rem;}

        .box2 h3 {font-size:0.85rem ; font-weight: 400;color: #787878;padding-right: 0.8rem;}

        #inner_wrap{
            padding: 2rem 0;
        }

        #inner_wrap h1{
            font-size: 1.4rem;font-weight: 600;margin-bottom: 2rem;
        }

        #inner_wrap h2{
            font-size: 1.2rem;font-weight: 400;line-height:1.8rem; word-break: break-all;
        }


        #inner_wrap {
            /*border-bottom:1px solid #EAEAEA;;*/
        }

        #inner_wrap img{
            width:100%;
        }
        .hidddenBox {
            position: absolute;
            /* width: 120%; */
            right: 0rem;
            top: 1rem;
            /* margin-right: 0; */
            display: none;
        }

        .hidddenBox ul {
            border:0.5px solid #E4E4E4;
            border-radius:5px;
            background-color: #fff;

            /* width: 100%; */
        }

        .hidddenBox ul li{
            display: flex;
            word-break:keep-all;
            padding: 1rem;
        
        }

        .hiddenBox1 > li:nth-of-type(1){
            border-bottom: 0.5px solid #E4E4E4;
        }

        .dot{
            position:relative;
        }

        .hidddenBox.on{
            display: block;
        }

        .content{
            padding: 2rem 0;
        }

        .content h1{
            font-size: 1.2rem;font-weight: 600;margin-bottom: 2rem;
        }

        .content p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.3rem;
            color: #000;
        }

        
/*}*/