.main_utility{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn.stroke1 {
    border: 1px solid #919191;
    padding: 7px;
    color: #888;
    background-color: transparent;
    margin-left: 5px;
    border-radius: 4px;
    display: block;
}

.main_utility div ul{
    display: flex;
    align-items: center;
}

.main_summary a {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    border: 3px solid #37f1aa;
    border-radius: 30px;
    padding: 12px;
    color: #37f1aa;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#searchForm{
    display: flex;
}

.categoryDiv{
    margin-left: 10px;
    margin-right: 10px;
}