.landing__inner {
  position: relative;
  margin: auto;
  width: 1280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing-store .store {
  display: inline-block;
  position: relative;
  z-index: 200;
  margin-right: 10px;
  border: 1px solid #edecec;
  border-radius: 10px;
  padding: 15px 0 0 70px;
  width: 135px;
  height: 55px;
  text-align: left;
  font-size: 0.5333em;
  background-color: #fff;
}

.landing-store .store:before {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 30px;
  width: 30px;
  height: 30px;
  background: url(../images/ic_playstore.png) no-repeat center;
  content: "";
}

.landing-store .store--apple:before {
  background-image: url(../images/ic_appstore.png);
}

.landing-store .store strong {
  display: block;
  font-size: 1.625em;
}

.landing-header {
  position: fixed;
  z-index: 100;
  padding: 20px 60px;
  width: 100%;
  min-width: 1280px;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 70px;
}

.landing-header .logo {
  float: left;
}

.landing-header .insta {
  float: right;
}

.landing-visual__title {
  font-size: 2.4em;
  font-weight: bold;
  color: #000;
}

.landing-visual__title.tit2 {
  margin-bottom: 30px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.landing-visual__sub {
  font-size: 1.3333em;
  margin-bottom: 20px;
}

.landing-visual__sub strong {
  color: #3e56f8;
}

.landing-visual__mobile {
  position: absolute;
  top: -105%;
  right: 200px;
  width: 530px;
  z-index: 300;
}

.landing-visual__mobile img {
  max-width: 100%;
  width: 100%;
}

.landing-visual__mobile .bubble--fir {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 300px;
  opacity: 0;
}

.landing-visual__mobile .bubble--sec {
  position: absolute;
  top: 210px;
  right: -110px;
  width: 280px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0;
}

.landing-visual__mobile .bubble--thr {
  position: absolute;
  top: 350px;
  left: -55px;
  width: 250px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  opacity: 0;
}

.landing-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 360px;
  background: url(../images/bg.png);
  background-size: cover;
}

.landing-blue {
  font-size: 2.4em;
  text-align: center;
  color: #fff;
}

.landing-intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-intro .title {
  margin: -150px 0 30px;
  font-size: 2.3em;
}

.landing-intro .title i {
  display: block;
  font-size: 0.666em;
  font-style: normal;
  font-weight: normal;
}

.landing-intro .des {
  font-size: 0.8em;
  color: #444;
  margin-top: 10px;
}

.landing-intro--sec1 {
  background-image: url(../images/bg_intro01.png);
}

.landing-intro--sec2 {
  background-image: url(../images/bg_intro02.png);
}

.landing-intro--sec3 {
  background-image: url(../images/bg_intro03.png);
}

.landing-use .text {
  padding: 250px 0;
  opacity: 0;
}

.landing-use .thumb {
  float: left;
  width: 650px;
  margin-right: 60px;
}

.landing-use .thumb img {
  width: 100%;
}

.landing-use h3 {
  margin-bottom: 40px;
  font-size: 1.7em;
}

.landing-use h3 span {
  display: block;
  font-size: 0.555em;
}

.landing-use__title {
  text-align: center;
  margin-bottom: 30px;
  position: absolute;
  top: 100px;
  left: 55%;
}

.landing-use__title h2 {
  font-size: 2.3em;
}

.landing-use__box {
  position: relative;
}

.landing-use__box ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1366px;
  text-align: center;
}

.landing-use__box li {
  float: left;
  width: 33.3333%;
}

.landing-use__box h3 {
  font-size: 1.58em;
}

.landing-use__box h3 span {
  display: block;
  font-size: 0.555em;
}

.landing-use__box p {
  margin: 15px 0 50px;
}

.landing-use__box .thumb img {
  width: 480px;
}

.landing-tip {
  background-color: #3e56f8;
}

.landing-tip__slider {
  position: relative;
}

.landing-tip__slider .slick-dots {
  bottom: -50px;
}

.landing-tip__slider .slick-dots li {
  margin: 0 12px;
}

.landing-tip__slider .slick-dots li.slick-active button:before {
  opacity: 1;
}

.landing-tip__slider .slick-dots li button:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eee;
  opacity: 0.5;
}

.landing-tip__slider .slick-slide {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.9666;
}

.landing-tip__slider .landing-tip__slide {
  position: relative;
  margin: 30px 0;
  border: 1px solid #eee;
  border-radius: 50px;
  padding: 130px 80px;
  min-width: 1000px;
  height: 550px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  background-color: #fff;
}

.landing-tip__slider .landing-tip__slide .thumb {
  position: absolute;
  right: 50px;
  bottom: -25px;
  width: 390px;
}

.landing-tip__slider .landing-tip__slide .thumb img {
  width: 100%;
  max-width: 100%;
}

.landing-tip__slider .landing-tip__slide h4 {
  margin-bottom: 50px;
  font-size: 1.4em;
}

.landing-tip__slider .landing-tip__slide h4:before {
  display: block;
  margin-bottom: 30px;
  width: 187px;
  height: 37px;
  content: url(../images/img_text.png);
}

.landing-tip__slider .landing-tip__slide:after {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  content: "";
}

.landing-tip__slider .slick-current {
  -webkit-animation: scale_up 0.8s ease-in-out;
          animation: scale_up 0.8s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 1;
}

.landing-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 700px;
  color: #fff;
  text-align: center;
  background: url(../images/bg_banner.png) no-repeat center 0;
  background-size: cover;
}

.landing-banner .landing__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.landing-banner h2 {
  margin-top: -180px;
  font-size: 1.8em;
  font-weight: normal;
}

.landing-footer {
  position: relative;
  background-color: #eceefd;
}

.landing-footer footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px 0;
  width: 100%;
  background-color: #eceefd;
}

.landing-footer .landing__inner {
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing-footer .fmenu {
  margin-bottom: 20px;
  font-size: 0.8em;
  font-weight: bold;
}

.landing-footer dl {
  display: table;
  margin-bottom: 5px;
  border-spacing: 3px;
  font-size: 0.666em;
}

.landing-footer dt {
  display: table-cell;
  color: #999;
}

.landing-footer dd {
  margin-right: 8px;
}

.landing-footer .fright {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 0.6666em;
}

.landing-footer .fright .num {
  display: block;
  font-size: 2.4em;
  font-weight: bold;
  margin: 5px 0 13px;
}

.landing-footer .fright p {
  line-height: 2;
}

.landing-footer .landing-top {
  display: inline-block;
  position: absolute;
  bottom: 100px;
  left: calc(100vw - 10%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fff;
  color: #333;
  font-size: 0.6666em;
  text-align: center;
  line-height: 50px;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.landing-footer .landing-top:hover {
  opacity: 1;
  -webkit-box-shadow: 5px 8px 8px rgba(172, 172, 172, 0.2);
          box-shadow: 5px 8px 8px rgba(172, 172, 172, 0.2);
}

/*animation effect*/
.typing {
  -webkit-animation: typingAni 1.5s steps(15), cursor 1s steps(1) infinite;
          animation: typingAni 1.5s steps(15), cursor 1s steps(1) infinite;
}

.mockup_fade {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.vtit_fadeup {
  -webkit-animation-name: fadeInUp1;
  animation-name: fadeInUp1;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tit_fadeup {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.intro_fadeup {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.use_fadeup {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.usebox_fadeup {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 70px, 0);
    transform: translate3d(0, 70px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 70px, 0);
    transform: translate3d(0, 70px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 250px);
    transform: translate3d(0, 0, 250px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 250px);
    transform: translate3d(0, 0, 250px);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 250px);
    transform: translate3d(0, 0, 250px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 250px);
    transform: translate3d(0, 0, 250px);
  }
}

@-webkit-keyframes typingAni {
  0% {
    width: 0%;
  }
  100% {
    width: 454px;
  }
}

@keyframes typingAni {
  0% {
    width: 0%;
  }
  100% {
    width: 454px;
  }
}

@-webkit-keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes scale_up {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale_up {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
