@media(max-width:768px){
  /* html{font-size:8px;} */
  body{min-width:320px;}

  .inner_b, .inner_s{width:100%;padding:0 3rem;}

  /* .btn_style01{font-size:1.6rem;} */

  .header p{display:none;}
  .header .inner_b{height:6rem;}

  .sub_top_area{height:20rem;}
  .sub_top_area h2{font-size:3rem;}
  .sub_top_area .txt_wrap{margin-top:3rem;}
  .sub_top_area .m_view{color:rgba(255,255,255,.5);font-weight:bold;}

  #sub.check .sub_top_area .stroke_txt{display:none;}
  #sub.check .footer{}

  .est_tit_area h2{font-size:3rem;}
  .est_tit_area p{font-size:1.5rem;}

  .est_discount>.tit{font-size:2rem;margin-bottom:2rem;}

  .est_cont .est_check,.est_cont.preview .est_check{width:100%;}
  .est_cont .est_check_items_tit{margin-bottom:1rem;}
  .est_cont .est_check_items_tit p{font-size:2rem;}
  .est_cont .est_check_items_tit .accordion{width:2.2rem;height:2.2rem;}
  .est_check_items.open{margin-bottom:4rem;}
  .est_check_items .items_wrap{width:calc(100% - 1.2rem);margin-left:1.2rem;}
  .est_check_items .items_wrap .item{width:100%;border:none;height:auto;padding:0;display: flex;justify-content: space-between;}
  .est_check_items .items_wrap .item .price{margin:0;}
  .est_check_items .items_wrap .item .exp{display:none;}
  .est_check_items .items_wrap .item.select{border:none;}

  .est_cont .est_preview, .est_cont.preview .est_preview, .est_calc .btn_preview{display:none;}
  .est_cont_info{width:100%;position:fixed;top:inherit;bottom:0;left:0;background:#000;z-index:999;}
  .est_calc{width:100%;border:none;padding:2rem;border-top:1px solid rgba(255,255,255,.3);border-radius:0;}
  .est_calc:before{content: '';width:100%;height:10rem;background:linear-gradient(360deg, #fff, transparent);position:absolute;bottom:100%;left:0;}
  .est_calc .tit,.est_calc .price,.est_calc .discount_tit{display: none;}
  .est_calc .discount{justify-content: flex-end;margin-bottom:0;}
  .est_calc .discount_num{text-decoration: line-through;}
  .est_calc .sum{padding-bottom:0;border-bottom:0;margin-bottom:1rem;}
  .est_calc .sum *{color:#fff;}
  .est_calc .sum .sum_tit{}
  .est_calc .sum .sum_tit:before{content: '예상견적';}
  .est_calc .pdf_wrap{display: none;}
  .est_calc .btn_wrap{display:flex;align-items:center;justify-content:space-between;}
  .est_calc .btn_style01{padding:1rem;margin-top:0;border-radius:5rem;box-shadow:none;max-width:calc(50% - .5rem);border:none;font-size:1.6rem;}

}
